@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Baloo Da 2', cursive;
}

.breadcrumb {
    background-color: #8EA4FD;
}

.breadcrumb-item.active {
    color: white;
}

.breadcrumb a {
    color: white;
    text-decoration: none;
}

#logOut{
    color: red !important;
}

th.sorting::before{
    display: none !important;
}

th.sorting:after{
    display: none !important;
}